<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <springProfile name="devo">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        <charset>utf8</charset>
      </encoder>
    </springProfile>
    <springProfile name="master,prod">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </springProfile>
  </appender>
  <logger name="jsonLogger" additivity="false" level="INFO">
    <appender-ref ref="consoleAppender"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="consoleAppender"/>
  </root>
</configuration>